{% extends "base.html.twig" %}
{% block title %}{{article.titre}}{{parent()}} {% endblock %}

{% block head %}
<meta name="description" content="{{article.description}}" />
	<meta name="author" content="{{article.redacteur}}" />
	<meta name="date" content="{{article.dateCreation | date("Y-m-d")}}" scheme="YYYY-MM-DD" />
{% endblock %}

{% block content %}

{% if form.errorMessage is defined %}
<div class="container text-center">
	<div class="alert alert-danger mt-4" role="alert">{{form.errorMessage}}</div>
	<a href="./" class="btn btn-primary">Aller à l'accueil</a>
</div>
{% else %}

<!--TITRE-->
<div class="card bg-dark text-white align-top rounded-0">
  	<img src="images/img.jpg" class="card-img">
  	<div class="card-img-overlay text-center mt-4">
		<h1 class="card-title">{{article.titre}}</h1>
		<p class="card-text">Article rédigé le {{article.dateCreation | date("d F Y à G:i")}} par {{article.redacteur}}</p>
	</div>
</div>
<!--BAR-->
<div class="p-1 bg-dark">
{% if session.id is defined %}
	{% if form.enrgistre is defined %}
		<a href="?page=enregistre&id={{article.id}}" class="btn btn-success text-light">Article enregistré
		<svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
		</svg>
		</a>
	{% else %}
		<a href="?page=enregistre&id={{article.id}}" class="btn btn-secondary text-light">Enregistrer l'article</a>
	{% endif %}


	{% if article.idUtilisateur == session.id %}
		<a href="?page=editor&id={{article.id}}" class="btn btn-secondary text-light">Modifier mon article</a>
	{% endif %}
{% endif %}
</div>
<!--DESCRIPTION-->
<div class="bg-light text-secondary p-4">
	<div class="container">
		<h4>{{article.description}}</h4>
	</div>
</div>

<!--CONTENU-->
<div class="container mt-4 pb-4 border-bottom border-black">
	{{article.contenu | raw | nl2br}}
</div>

<div class="container">
<h2 class="mt-4 ">Commentaires</h2>

<!--FORMULAIRE COMMENTAIRE-->
<form class="bg-light p-3 mb-3" method="POST" action="?page=addComment">
{% if session.id is defined %}
	<label for="commentaire">Saisissez votre commentaire :</label>
	<input class="form-control input-commentaire" id="commentaire" type="text" name="commentaire"/>
	<input hidden name="idArticle" value="{{article.id}}" />
	<div class="mt-2">
		<button class="btn btn-outline-primary btn-sm" type="submit" name="btEnvoyer">Envoyer</button>
		<button class="btn btn-outline-secondary btn-sm" type="reset" name="btEnvoyer">Effaçer</button>
	</div>
	</button>
{% else %}
	<p>Pour pouvoir laisser un commentaire vous devez <a href="?page=connexion">vous connecter</a>.</p>
{% endif %}
</form>

<!--COMMENTAIRE-->
<form class="" method="POST" action="?page=removeComment">
	<input hidden name="idArticle" value="{{article.id}}">
{% for c in commentaires %}
	<div>
		<p>{{c.nom}} - <small class="text-muted">Le {{c.dateCreation | date("d F Y à G:i")}}</small>
		{% if c.idUtilisateur == session.id %}
			<button class="btn btn-outline-danger btn-sm ml-sm-2" type="submit" name="idCommentaire" value="{{c.id}}">Supprimer</button>
		{% endif %}
		</p>
		<p class="ml-2">{{c.text}}</p>
	</div>
	<hr>
{% endfor %}
</form>
</div>
{% endif %}

{% endblock %}