{% extends "base.html.twig" %}
{% block title %}{{article.titre}}{{parent()}}{% endblock %}

{% block head %}
	<meta name="description" content="{{article.description}}" />
	<meta name="author" content="{{article.redacteur}}" />
	<meta name="date" content="{{article.dateCreation | date("Y-m-d")}}" scheme="YYYY-MM-DD" />
{% endblock %}

{% block content %}

{% if form.errorMessage is defined %}
<div class="text-danger m-4 text-center">
	<h1>Article introuvable</h1>
	<div class="alert alert-danger mt-4" role="alert">{{form.errorMessage}}</div>
	<a href="./" class="btn btn-primary">Aller à l'accueil</a>
</div>
{% else %}

<!--HEADER-->
<div class="card bg-dark text-white rounded-0">
	{% if article.image != null %}
		<img src="images/article/{{article.image}}" class="card-img img-article" alt="image de l'article {{article.titre}}">
	{% else %}
		<img src="images/default/article.jpg" class="card-img img-article" alt="image de l'article {{article.titre}}">
	{% endif %}
  	<div class="card-img-overlay text-center mt-2">
		<h1 class="card-title">{{article.titre}}</h1>
		<p class="card-text mb-2">
			Article rédigé le {{article.dateCreation | date("d F Y à G:i")}} par {{article.redacteur}}
			<img src="{% if article.imageUser != null %}images/profil/{{article.imageUser}}{% else %}images/default/profil.png{% endif %}" alt="photo de profile du rédacteur" class="img-profile-redacteur rounded-circle ml-1" />
		</p>
		
		<span class="badge badge-pill text-light" style="background-color:{{article.couleur}}">{{article.theme}}</span>
	</div>
</div>

<!--BAR-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArticle">
   		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarArticle">
		{% if session.id is defined %}
			{% if form.enrgistre is defined %}
				<a href="?page=enregistre&id={{article.id}}" class="nav-item nav-link text-light bg-success rounded-pill">Article enregistré
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-check-fill mb-1 ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm6.854 5.854a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
					</svg>
				</a>
			{% else %}
				<a href="?page=enregistre&id={{article.id}}" class="nav-item nav-link text-light">Enregistrer l'article
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-fill mb-1 ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
					</svg>
				</a>
			{% endif %}
			{% if article.idUtilisateur == session.id %}
				<a href="?page=editor&id={{article.id}}" class="nav-item nav-link text-light">Modifier mon article</a>
			{% endif %}
		{% endif %}
		<a class="nav-item nav-link text-white-50 mr-auto">Article modifié le {{article.dateModif | date("d F Y à G:i")}}</a>

		<a href="http://www.facebook.com/sharer.php?u={{form.url | raw}}&t={{article.titre}}" class="nav-item nav-link text-white" style="background-color:#4267B2;">Partager sur Facebook</a>
		<a href="http://twitter.com/share?url={{form.url | raw}}&text={{article.titre}}" class="nav-item nav-link text-white" style="background-color:#1DA1F2;">Partager sur Twitter</a>
	</div>
</nav>

<!--DESCRIPTION-->
<div class="bg-light text-secondary p-3">
	<div class="container">
		<h3 class="mt-2">{{article.description}}</h3>
	</div>
</div>

<!--CONTENU-->
<div class="container mt-4 pb-4 border-bottom border-black">
	{{article.contenu | raw | nl2br}}
</div>

<div class="container">
<h3 class="mt-4"><b>Commentaires ({{form.nbCommentaires}})</b></h3>

<!--FORMULAIRE COMMENTAIRE-->
<form class="bg-light p-3 mb-3" method="POST" action="?page=addComment">
{% if session.id is defined %}
	<label for="commentaire">Saisissez votre commentaire :</label>
	<input class="form-control w-50" id="commentaire" type="text" name="commentaire" required/>
	<input hidden name="idArticle" value="{{article.id}}" />
	<div class="mt-2">
		<button class="btn btn-outline-primary btn-sm" type="submit" name="btEnvoyer">Envoyer</button>
		<button class="btn btn-outline-secondary btn-sm" type="reset" name="btEnvoyer">Effaçer</button>
	</div>
	</button>
{% else %}
	<p class="mb-0">Pour pouvoir laisser un commentaire vous devez <a href="?page=connexion">vous connecter</a>.</p>
{% endif %}
</form>

<!--LISTE COMMENTAIRES-->
<form method="POST" action="?page=removeComment">
	<input hidden name="idArticle" value="{{article.id}}">
{% for c in commentaires %}
	<div class="commentaireList">
		<p class="mb-1">
		<img src="{% if c.imageUser != null %}images/profil/{{c.imageUser}}{% else %}images/default/profil.png{% endif %}" class="img-thumbnail mr-1">
		<a>{{c.nom}} - <small class="text-muted">Le {{c.dateCreation | date("d F Y à G:i")}}</small></a>
		{% if c.idUtilisateur == session.id %}
			<button class="btn btn-outline-danger btn-sm ml-sm-2" type="submit" name="idCommentaire" value="{{c.id}}">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
				</svg>
			</button>
		{% endif %}
		</p>
		<p class="ml-2">{{c.text}}</p>
	</div>
	<hr>
{% endfor %}
</form>
</div>
{% endif %}

{% endblock %}