{% extends "base.html.twig" %}

{% block title %}
{% if article.id is defined %}{{article.titre}}{% else %}Nouvel article{% endif %}{{parent()}}
{% endblock %}

{% block content %}

{% if form.errorMessage is not null %}
	<!-- ERROR MESSAGE DISPLAY -->
	<div class="alert alert-danger m-2" style="float:center" role="alert">{{form.errorMessage}}</div>
{% else %}

<!-- ARTICLE TITLE -->
{% if article.id is defined %}
	<h1 class="m-3 text-black-50">{{article.titre}}</h1>
{% else %}
	<h1 class="m-3 text-black-50">Nouvel article</h1>
{% endif %}

<div class="container-lg">

{% if article.id is defined %}
	{% set action = "&id=#{article.id}" %}
{% endif %}

<form method="POST" action="?page=editor{{action | raw}}" enctype="multipart/form-data">
	<div class="bg-dark p-3 text-light mb-2 rounded">

		<div class="form-row mb-2">
			<!-- INPUT TITRE -->
			<div class="col-sm-6">
				<label>Titre *</label>
				<input type="text" class="form-control" id="titre" name="titre" maxlength="80" placeholder="Titre de l'article" value="{{article.titre}}" required>
			</div>

			<!-- INPUT THEME -->
			<div class="col-sm-2">
				<label for="theme">Thème *</label>
				<select class="form-control" id="theme" name="theme" required>
					{% for t in form.theme %}
						{% if article.idTheme == t.id %}
							<option value="{{t.id}}" selected>{{t.libelle}}</option>
						{% else %}
							<option value="{{t.id}}">{{t.libelle}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>

			<!-- INPUT IMAGE -->
			<div class="col-sm-4">
				<label>Image <small class="text-muted">Max : 8 Mo | format autorisé : JPG, PNG</small></label>
				<input type="file" class="form-control-file m-1" id="image" name="image" />
			</div>
		</div>
		<div class="form-row">
			<!-- INPUT DESCRIPTION -->
			<div class="col-12">
				<label>Description</label>
				<input type="text" class="form-control" id="description" name="description" maxlength="255" placeholder="Description de l'article" value="{{article.description}}"/>
			</div>
		</div>

	</div>

	<!-- INPUT ARTICLE -->
	<div class="form-group">
		<label for="article"><b>Article</b></label>
		<textarea class="form-control" id="article" name="contenu" rows="10">{{article.contenu}}</textarea>
	</div>

	
	<!-- INPUT VISIBLE -->
	<div class="form-group form-check float-left">
		<input type="checkbox" class="form-check-input" name="visible" id="visible"{% if article.visible == 1 or article == null %} checked{% endif %} />
		<label class="form-check-label" for="visible">Publication visible</label>
	</div>

	<!-- SUBMIT -->
	<div class="float-right inligne">
		{% if article.id is defined %}
			<small class="mr-2">Mit à jour le {{article.dateModif | date("d F Y à G:i")}}</small>
			<button class="btn btn-primary" type="submit" name="btEnvoyer">Mettre à jour</button>
		{% else %}
			<small class="mr-2">Pas encore publié</small>
			<button class="btn btn-primary" type="submit" name="btEnvoyer">Publier</button>
		{% endif %}
	</div>
</form>
</div>

{% endif %}

{% endblock %}