{% extends "base.html.twig" %}
{% block title %}Gestion des articles{{parent()}}{% endblock %}

{% block content %}

{% if get.code != null %}
	<div class="container mt-3">
	{% if get.code == 0 %}
		<div class="alert alert-success mx-auto" style="float:center" role="alert">Les modifications ont bien étais changé</div>
	{% else %}
		<div class="alert alert-danger mx-auto " style="float:center" role="alert">Une erreur s'est produite, veuillez réésayer</div>
	{% endif %}
	</div>
{% endif %}
<div class="container">
	<h1 class="text-center m-4">Gestion des articles</h1>
	<p class="text-center">Vous pouvez administrer les articles ici</p>
	
	<!-- PAGINATION -->
	<nav>
	<ul class="pagination justify-content-center mt-3">
		<li class="page-item{% if form.numeroPage == 0 %} disabled{% endif %}">
		<a class="page-link" href="?page=gestionArticle&min={{form.numeroPage - 1}}" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a>
		</li>
		{% for i in 1..form.nbDePage %}
		<li class="page-item{% if i == form.numeroPage +1 %} active{% endif %}"><a class="page-link" href="?page=gestionArticle&min={{i-1}}">{{i}}</a></li>
		{% endfor %}
		<li class="page-item{% if form.numeroPage == form.nbDePage - 1 %} disabled{% endif %}">
		<a class="page-link" href="?page=gestionArticle&min={{form.numeroPage + 1}}" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a>
		</li>
	</ul>
	</nav>

	<!-- LISTE D'ARTICLES -->
	<form method="POST" action="?page=deleteArticle">
	<button type="submit" class="btn btn-danger" name="btEfface">Supprimer la sélection</button>
	{% for a in articles %}
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">{{a.titre}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Le {{a.dateModif | date("d F Y à G:i")}} par {{a.redacteur}}</h6>
					<p class="card-text">{{a.description}}</p>
					<a href="?page=article&id={{a.id}}" class="card-link">Voir l'article</a>
					<a href="?page=editor&id={{a.id}}" class="card-link">Modifier l'article</a>
					<label class="card-link text-danger" for="{{a.id}}">Supprimer l'article</label>
					<input class="card-link" type="checkbox" id="{{a.id}}" name="cocher[]" value="{{a.id}}" />
				</div>
			</div>
	{% endfor %}
	</form>

</div>

{% endblock %}