{% extends "base.html.twig" %}
{% block title %}Gestion des thèmes{{parent()}}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="text-center m-3">Gestion des thèmes</h1>

	{% if form.message is defined %}
		{% if get.code == 0 %}
			<div class="alert alert-success mx-auto" style="float:center" role="alert">{{form.message}}</div>
		{% else %}
			<div class="alert alert-danger mx-auto" style="float:center" role="alert">{{form.message}}</div>
		{% endif %}
	{% endif %}

	{% if form.theme is defined %}

		<!-- MODIFIER UN THEME -->
		<form method="POST" action="index.php?page=gestionTheme" class="bg-secondary text-light p-4 m-3 mx-auto rounded">
			<h2>Modifier le thème {{form.theme.libelle}}</h2><form>
			<div class="form-row">
				<div class="col">
					<input type="text" name="nameTheme" class="form-control" value="{{form.theme.libelle}}" required>
				</div>
				<div class="col">
					<input type="text" name="colorTheme" class="form-control" value="{{form.theme.couleur}}" required>
				</div>
				<input type="hidden" name="idTheme" value="{{get.id}}" />
			</div>
			<button type="submit" name="btModifier" class="btn btn-light mt-3">Modifier</button>
		</form>

	{% else %}

	<!-- LISTE DE THEME (AJOUT OU SUPPRESSION) -->
	<form method="POST" action="index.php?page=gestionTheme" class="bg-secondary text-light p-4 m-3 mx-auto rounded">
	<h2>Ajouter un thème</h2><form>
		<div class="form-row">
			<div class="col">
					<input type="text" name="nameTheme" class="form-control" placeholder="Nom du thème" required>
			</div>
			<div class="col">
				<input type="text" name="colorTheme" class="form-control" placeholder="Couleur" required>
			</div>
		</div>
		<button type="submit" name="btAjouter" class="btn btn-light mt-3">Ajouter</button>
	</form>

	<h2>Liste des thèmes ({{form.nbDeTheme}})</h2>

	<form method="POST" action="?page=gestionTheme">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
			<th scope="col">Libelle</th>
			<th scope="col">Couleur</th>
			<th scope="col"></th>
			<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
		{% for t in listeType %}
			<tr>
				<td>{{t.libelle}}</td>
				<td>{{t.couleur}}</td>
				<td><a class="btn btn-primary btn-sm" href="?page=gestionTheme&id={{t.id}}">Modifier</a></td>
				<td><input class="form-check-input" type="checkbox" name="coche[]" value="{{t.id}}" id="efface"></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="float-right inligne mb-3">
		<a class="text-danger">Cela supprimera <b>tous les articles</b> associés !</a>
		<button class="btn btn-danger" type="submit" name="btEfface">Effacer la sélection</button>
	</div>
	</form>

{% endif %}
</div>

{% endblock %}