{% extends "base.html.twig" %}
{% block title %}Accueil{{parent()}}{% endblock %}

{% block content %}

{% if form.numeroPage == 0 %}
<div class="container mt-3">
	<h1><b>alLavi news</b></h1>
	<h2 class="mb-3">A la une</h2>
</div>
<!--CAROUSEL-->
<div id="carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
	{% for a in article %}
    <li data-target="#carousel" data-slide-to="{{loop.index - 1}}"{% if loop.first %} class="active"{% endif %}></li>
	{% endfor %}
  </ol>
  <div class="carousel-inner">
	{% for a in article %}
    <div class="carousel-item{% if loop.first %} active{% endif %}">
	<a href="?page=article&id={{a.id}}">
		{% if a.image != null %}
      		<img src="images/article/{{a.image}}" class="d-block w-100 mb-4" alt="image de l'article {{a.titre}}">
		{% else %}
      		<img src="images/default/article.jpg" class="d-block w-100 mb-4" alt="image de l'article {{a.titre}}">
		{% endif %}
      	<div class="carousel-caption d-md-block">
        	<h3>{{a.titre}}</h3>
        	<p class="d-none d-sm-block">{{a.description}}</p>
      	</div>
	</a>
    </div>
	{% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}

<!-- CARD -->
<div class="container">

{% if form.numeroPage == 0 %}
	<h2 class="mb-3">Les derniers articles</h2>
{% else %}
	<h2 class="mb-3 mt-3">Les anciens articles</h2>
{% endif %}

<div class="card-deck list-article">
{% for a in article %}
	<a class="card-link-custom mb-3" href="?page=article&id={{a.id}}">
	<div class="card">
	<div class="row no-gutters">
		<div class="col-md-4">
		{% if a.image != null %}
			<img src="images/article/{{a.image}}" class="card-img" alt="image de l'article {{a.titre}}">
		{% else %}
			<img src="images/default/article.jpg" class="card-img" alt="image de l'article {{a.titre}}">
		{% endif %}
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title mb-1">{{a.titre}}</h5>
				<span class="badge badge-pill text-light mb-1" style="background-color:{{a.couleur}}">{{a.theme}}</span>
				<p class="card-text">{{a.description}}</p>
				<p class="card-text"><small class="text-muted">Le {{a.dateCreation | date("d F Y à G:i")}} | par {{a.redacteur}}</small></p>
			</div>
		</div>
	</div>
	</div>
	</a>
{% endfor %}
</div>
</div>

<!-- PAGINATION -->
<nav>
<ul class="pagination justify-content-center">
    <li class="page-item{% if form.numeroPage == 0 %} disabled{% endif %}">
      <a class="page-link" href="?min={{form.numeroPage - 1}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{% for i in 1..form.nbDePage %}
    <li class="page-item{% if i == form.numeroPage +1 %} active{% endif %}"><a class="page-link" href="?min={{i-1}}">{{i}}</a></li>
	{% endfor %}
    <li class="page-item{% if form.numeroPage == form.nbDePage - 1 %} disabled{% endif %}">
      <a class="page-link" href="?min={{form.numeroPage + 1}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
	</li>
</ul>
</nav>
{% endblock %}