{% extends "base.html.twig" %}
{% block title %}Accueil{{parent()}} {% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<h1>Menu</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam varius pulvinar scelerisque. Vivamus purus libero, tincidunt eu suscipit ut, tempus in diam. Nunc at varius lectus, iaculis pharetra metus. Sed pretium lorem sollicitudin purus hendrerit condimentum. Mauris velit enim, aliquet vel velit vitae, tincidunt scelerisque orci. Nunc varius risus quis dui efficitur, at dictum elit condimentum. Sed odio tellus, iaculis iaculis velit eget, porttitor vulputate nulla. Sed nibh nisi, luctus eu sodales in, vestibulum quis quam. Vivamus accumsan est non viverra hendrerit. Nulla dolor risus, gravida a odio sed, consequat sodales ipsum. Pellentesque ut ipsum eget massa molestie rutrum.

Etiam vel mauris non nulla euismod convallis. Aliquam nec nibh at dolor laoreet eleifend. Phasellus dignissim vel nulla quis tincidunt. Fusce condimentum risus nec enim ullamcorper mollis. Curabitur elementum risus vitae luctus eleifend. Maecenas scelerisque tellus nec bibendum varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<div class="col-sm-10 p-3">
			<h1>Bienvenue sur la page d'acceuil</h1>
			<p>Vous trouverez ici bientôt les dernière news</p>
			{% for a in list %}
			<a href="?page=article&id={{a.id}}">
			<div class="card mb-3 card-custom">
			<img src="images/img.jpg" class="card-img-top" alt="">
			<div class="card-body">
				<h5 class="card-title">{{a.titre}}	<span class="badge badge-pill badge-secondary">{{a.theme}}</span></h5>
				<p class="card-text">{{a.description}}</p>
				<p class="card-text"><small class="text-muted">Le {{a.dateCreation | date("d F Y à G:i")}} | par {{a.redacteur}}</small></p>
			</div>
			</div>
			</a>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}