{% extends "base.html.twig" %}
{% block title %}{{ user.nom }}{{parent()}}{% endblock %}

{% block content %}

{% if get.code != null %}
	<div class="container mt-3">
	{% if get.code == 0 %}
		<div class="alert alert-success mx-auto" style="float:center" role="alert">Les modifications ont bien étais changé</div>
	{% else %}
		<div class="alert alert-danger mx-auto" style="float:center" role="alert">Une erreur s'est produite, veuillez réésayer</div>
	{% endif %}
	</div>
{% endif %}
<!-- AFFICHAGE INFO PROFIL -->
<div class="container bg-dark text-light">
	<div class="row border-bottom border-light p-2">
		<!-- PHOTO PROFILE -->
		<div class="col-lg-2 align-self-center">
		{% if user.image != null %}
			<img src="images/profil/{{user.image}}" alt="photo de profil" class="img-thumbnail img-profile">
		{% else %}
			<img src="images/default/profil.png" alt="photo de profil" class="img-thumbnail img-profile">
		{% endif %}
		</div>
		<!-- NOM UTILISATEUR -->
		<div class="col-lg-3 align-self-center">
			<h2>{{user.nom}}</h2>
		</div>
		<!-- INFO UTILISATEUR -->
		<div class="col-sm-7 align-self-center">
			<p>{{ form.roleText }} alLavi news</p>
			{% if user.role != 1 %}
			<p>Nombre d'article : {{form.nbArticle}}</p>
			{% endif %}
			<p>Inscrit depuis le {{ user.dateInscription | date("d F Y")}}</p>
		</div>
	</div>

	<!-- BARRE COMMENDE -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfil">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarProfil">
			<a href="?page=updateUser" class="nav-item nav-link text-light">Modifier profil</a>
			<a href="?page=updatePassword" class="nav-item nav-link text-light">Modifier mot de passe</a>
			{% if user.role >= 2 %}
			<a href="?page=editor" class="nav-item nav-link text-light">Rédiger un article</a>
			{% endif %}
			{% if user.role == 3 %}
			<div class="btn-group" role="group">
				<a id="btnGroupDrop1" class="nav-item nav-link text-light dropdown-toggle" data-toggle="dropdown">Administration</a>
				<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
  					<h6 class="dropdown-header">Outils d'administration</h6>
					<a href="?page=gestionUser" class="dropdown-item">Gestion des utilisateurs</a>
					<a href="?page=gestionArticle" class="dropdown-item">Gestion des articles</a>
					<a href="?page=gestionTheme" class="dropdown-item">Gestion des thémes</a>
				</div>
			</div>
			{% endif %}
			<a href="?page=deconnexion" class="nav-item nav-link bg-danger text-light">Déconnexion</a>
		</div>
	</nav>
</div>

<div class="container">

<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Mes enregistrements</a>
	</li>
	{% if user.role != 1 %}
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#myArticle" role="tab">Mes articles</a>
	</li>
	{% endif %}
</ul>

<div class="tab-content" id="myTabContent">
	<!-- MES ENREGISTREMENTS -->
	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab">
		<h3 class="mt-4"><b>Mes enregistrements ({{form.nbEnregistre}})</b></h3>
		{% if form.listEnregistre != null %}
			{% for e in form.listEnregistre %}
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">{{e.titre}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Enregistré le {{e.dateEnregistre | date("d F Y à G:i")}}</h6>
					<p class="card-text">{{e.description}}</p>
					<a href="?page=article&id={{e.idArticle}}" class="card-link">Voir l'article</a>
					<a href="?page=enregistre&id={{e.idArticle}}" class="card-link text-danger">Supprimer l'enregistrement</a>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<h4 class="text-center m-5">Pas d'article enregistré</h4>
		{% endif %}
	</div>
	<!-- MES ARTICLES -->
	<div class="tab-pane fade" id="myArticle" role="tabpanel" aria-labelledby="home-tab">
		<form method="POST" action="?page=deleteArticle">
		<h3 class="mt-4">
			<b>Mes articles</b>
			<button type="submit" class="btn btn-danger btn-sm ml-2" name="btEfface">Supprimer la sélection</button>
		</h3>
		{% if form.listArticle != null %}
			{% for a in form.listArticle %}
			<div class="card mt-3">
				<div class="card-body">
					<h5 class="card-title">{{a.titre}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">Le {{a.dateModif | date("d F Y à G:i")}}</h6>
					<p class="card-text">{{a.description}}</p>
					<a href="?page=article&id={{a.id}}" class="card-link">Voir l'article</a>
					<a href="?page=editor&id={{a.id}}" class="card-link">Modifier l'article</a>
					<label class="card-link text-danger" for="{{a.id}}">Supprimer l'article</label>
					<input class="card-link" type="checkbox" id="{{a.id}}" name="cocher[]" value="{{a.id}}" />
				</div>
			</div>
			{% endfor %}
		{% else %}
			<h4 class="text-center m-5">Pas d'article rédigé</h4>
		{% endif %}
		</form>
	</div>
</div>

</div>
{% endblock %}