{% extends "base.html.twig" %}
{% block title %}Paramètre profil{{parent()}} {% endblock %}

{% block content %}
<h1 class="m-4">Paramètre profil</h1>

{% if form.message is defined %}
	{% if get.code == 0 %}
		<div class="alert alert-success container" style="float:center" role="alert">{{form.message}}</div>
	{% else %}
		<div class="alert alert-danger container" style="float:center" role="alert">{{form.message}}</div>
	{% endif %}
{% endif %}

<form method="POST" action="index.php?page=updateUser" enctype="multipart/form-data" class="">
<div class="container bg-secondary text-light p-4 rounded">
	<h1 class="mb-3">{{user.nom}}</h1>
	<div class="row">

		<div class="col-lg-3 align-self-center text-lg-center">
		{% if user.image != null %}
				<img src="images/profil/{{user.image}}" alt="photo de profil" class="img-thumbnail img-big">
				<button type="submit" name="btSupprimeImage" class="btn btn-light btn-sm m-2">
					Supprimer l'image
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
					</svg>
				</button>
		{% else %}
				<img src="images/default/profil.png" alt="photo de profil" class="img-thumbnail img-big">
		{% endif %}
		</div>

		<div class="col-lg-9 align-self-center">
			<div class="form-group">
				<label for="email">Adresse email</label>
				<input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required/>
			</div>
			<div class="form-group">
				<label for="nom">Nom</label>
				<input type="text" class="form-control" id="nom" name="nom" maxlength="50" value="{{user.nom}}" required/>
			</div>
			
			<label for="image">Photo de profil</label>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="image" name="image" style="display:none;">
				<label class="custom-file-label" for="image">Choisir un fichier</label>
			</div>
			<p class="m-0"><small class="text-muted">Max : 8 Mo | format autorisé : JPG, PNG.</small></p>

		</div>

	</div>
	<div class="text-right">
		<button type="submit" name="btUpdate" class="btn btn-light">Mettre à jour</button>
	</div>
</div>
</form>

<div class="container mt-3">
	<button class="btn btn-danger btn-sm" id="supprimerCompte" data-toggle="modal" data-target="#exampleModal">Cloturer mon compte</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLabel">Cloturer le compte</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<form method="POST" action="?page=deleteUser">
		<div class="modal-body">
			<p>Veuillez saisir votre mot de passe afin de confirmer votre identité</p>
			<div class="form-group">
				<label for="password">Mot de passe</label>
				<input type="password" class="form-control" id="password" name="password" required/>
			</div>
			<p>Liste des éléments qui seront supprimés :</p>
			<ul>
				<li>Vos articles</li>
				<li>Vos commentaires d'article</li>
				<li>Vos sujets</li>
				<li>Vos réponses au sujet</li>
				<li>Vos enregistrements</li>
				<li>Vos données (Adresse e-mail, mot de passe, image)</li>
			</ul>
			<p class="text-danger"><b>Après suppresion, il ne sera plus possible de revenir en arrière.</b></p>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-danger" name="btSupprimer">Supprimer mon compte</button>
		</div>
	</form>
	</div>
</div>
</div>

{% block script %}
<script>
// Permet l'affichage du formulaire (file) pour l'image
window.addEventListener("load",function(){
	bsCustomFileInput.init();
});
</script>
{% endblock %}

{% endblock %}