{% extends "base.html.twig" %}
{% block title %}{{sujet.titre}}{{parent()}}{% endblock %}

{% block content %}
<div class="container-fluid text-center bg-light border-dark border-bottom p-4">
	<h2>{{sujet.titre}}</h2>
	<p class="m-0">Un sujet lancé le {{sujet.date}} par {{sujet.userName}} <img src="{{sujet.userImage}}" alt="" class="img-profile-redacteur mb-1 rounded-circle"></p>
</div>

<div class="container">
	<div class="m-2">{{sujet.contenu | nl2br}}</div>
	<hr class="bg-dark">
	<h3 class="mb-3"><b>Réponses ({{form.nb_reponse}})</b></h3>

	{% if session.id is defined %}
	<form action="?page=addReponse" method="POST" class="bg-light p-3 mb-3">
		<div class="form-group">
			<textarea type="text" class="form-control form-control-sm" id="reponse" name="reponse" rows="3"></textarea>
		</div>
		<input hidden name="idSujet" value="{{sujet.id}}" />
		<button type="submit" class="btn btn-outline-primary btn-sm" name="btRepondre">Répondre</button>
	</form>
	{% endif %}

	<div class="container">
	{% for r in reponses %}
		{% if r.userImage is null %}{% set img = "images/default/profil.png" %}{% else %}{% set img = "images/profil/#{r.userImage}" %}{% endif %}
		<div class="row align-items-center bg-light p-2 mb-2 border-bottom border-secondary">
			<!-- USER info -->
			<div class="col-3">
				<p class="m-0">
				<img class="img-thumbnail" src="{{img}}" alt="image profil" style="width:60px;height:60px;">
				{% if r.idUser == sujet.idUser %}
					<a class="bg-primary text-white rounded d-inline"><b>{{r.userName}}</b></a>
				{% else %}
					<a><b>{{r.userName}}</b></a>
				{% endif %}
				<br>
				<a>Le {{r.date | date("d F Y à G:i")}}</a>
				</p>
			</div>
			<!-- CONTENT -->
			<div class="col-7">
				{{r.contenu | nl2br}}
			</div>
			<!-- UPDATE AND REMOVE BUTTON -->
			<div class="col-2">
			{% if r.idUser == session.id %}
				<!-- remove button -->
				<button class="btn btn-outline-danger btn-sm">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
					</svg>
				</button>
				<!-- update button -->
				<button class="btn btn-outline-primary btn-sm">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
					</svg>
				</button>
			{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>

</div>
{% endblock %}