{% extends "base.html.twig" %}
{% block title %}{{sujet.titre}}{{parent()}}{% endblock %}

{% block content %}
{% if form.errorMessage is defined %}	
<div class="alert alert-danger container" role="alert">
	{{form.errorMessage}}
</div>
{% else %}
	
<div class="container-fluid text-center bg-light border-dark border-bottom p-4">
	<h2>{{sujet.titre}}</h2>
	<p class="m-0">Un sujet lancé le {{sujet.date | date("d F Y à G:i")}} par {{sujet.userName}} <img src="{{sujet.userImage}}" alt="" class="img-profile-redacteur mb-1 rounded-circle"></p>
	{% if sujet.ouvert == 1 %}
		<span class="badge badge-success">Sujet ouvert</span>
	{% else %}
		<span class="badge badge-danger">Sujet fermé</span>
	{% endif %}
</div>

{% if sujet.idUser == session.id %}
<!--BAR-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarArticle">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarArticle">
    <div class="navbar-nav">
		{% if sujet.ouvert == 1  %}
			<a href="#" class="nav-link text-danger" data-toggle="modal" data-target="#exampleModal">Fermer le sujet</a>
		{% endif %}
    </div>
	</div>
</nav>

<!-- Modal Remove Sujet -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fermer le sujet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Êtes-vous sûr de vouloir faire cela ? Pas retour en arrière possible, il vous faudra ouvrir un nouveau sujet.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
		<a type="Button" href="?page=viewSujet&id={{sujet.id}}&close=true" class="btn btn-danger">Fermer le sujet</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container mt-3">
	<div class="m-2">{{sujet.contenu | nl2br}}</div>
	<hr class="bg-dark">
	<h3 class="mb-3"><b>Réponses ({{form.nb_reponse}})</b></h3>

	{% if session.id is defined %}
	<!-- FORMUMAIRE COMMENTAIRE -->
	<form action="?page=reponse" method="POST" class="bg-light p-3 mb-3">
		{% if sujet.ouvert == 0 %}
			<h4 class="text-danger"><b>Sujet fermé</b></h4>
			<p class="m-0">Vous ne pouvez pas répondre à ce sujet</p>
		{% else %}
			<div class="form-group">
				<textarea type="text" class="form-control form-control-sm" id="reponse" placeholder="Saisissez votre réponse ici ..." name="reponse" rows="3" required></textarea>
			</div>
			<input hidden name="idSujet" value="{{sujet.id}}" />
			<button type="submit" class="btn btn-outline-primary btn-sm" name="btRepondre">Répondre</button>
			<p class="mb-0 mt-2 d-none d-sm-block">Double-cliquez sur l'une de vos réponses pour la modifier</p>
		{% endif %}
	</form>
	{% else %}
		<p>Pour répondre veuillez vous connecter</p>	
	{% endif %}

	<!-- AFFICHAGE LISTE COMMENTAIRES -->
	<div class="container">
	<input type="hidden" name="idSujet" value="{{sujet.id}}" />
	{% for r in reponses %}
		{% if r.userImage is null %}{% set img = "images/default/profil.png" %}{% else %}{% set img = "images/profil/#{r.userImage}" %}{% endif %}
		<div class="row align-items-center bg-light p-2 mb-2 border-bottom border-secondary">
			<!-- USER info -->
			<div class="col-sm-3">
				<p class="m-0">
					<img class="img-thumbnail" src="{{img}}" alt="image profil" style="width:60px;height:60px;">
					<a class="{% if r.idUser == sujet.idUser %}bg-primary text-white rounded d-inline{% endif %}"><b>{{r.userName}}</b></a><br>
					<a>Le {{r.date | date("d F Y à G:i")}}</a>
					<hr class="d-sm-none">
				</p>
			</div>
			<!-- CONTENT -->
			<div class="col-sm-8{% if  r.idUser == session.id and sujet.ouvert == 1 %} clickUpdate{% endif %}" id-reponse="{{r.id}}"
				><p>{{r.contenu | nl2br}}</p
			></div>
			<!-- UPDATE AND REMOVE BUTTON -->
			<div class="col-sm-1">
			{% if r.idUser == session.id and sujet.ouvert == 1 %}
				<!-- remove button -->
				<a href="?page=reponse&id={{r.id}}" class="btn btn-outline-danger btn-sm">Effacer</a>
			{% endif %}
			</div>
		</div>
	{% endfor %}

	{% if sujet.ouvert == 0 %}
		<div class="row align-items-center bg-light p-2 mb-2 border-bottom border-secondary text-danger">
			<b>{{sujet.userName}} a fermé ce sujet</p>
		</div>
	{% endif %}
	</div>

</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="js/reponseUpdate.js"></script>
{% endblock %}